.wrapper {
  width: 100%;
  min-height: 100%;
  background: #444444;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
}

.wrapper .main {
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
}
